.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

:root {
  --blue: #0075ff;
  --blue-sec: #0d69d5;
  --light-blue: rgb(0 117 255 / 20%);
  --light-orange: rgb(245 158 11 / 20%);
  --light-green: rgb(34 197 94 / 20%);
  --light-red: rgb(244 67 54 / 20%);
  --orange: #f59e0b;
  --green: #22c55e;
  --red: #f44336;
  --grey: #888;
  --light-grey: #ccc;
  --main-color: var(--orange);
  --overlay-color: #000000a2;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  min-height: 2000px;
}
html,
body {
  scroll-padding-top: 65px; /* set to the height of your header */
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* begin settings pannel  */
.settings {
  left: -15rem;
  width: 15rem;
  transition: 0.3s;
}
.settings.opened {
  left: 0;
}
.settings .icon {
  right: -2rem;
  text-align: center;
  top: 20%;
  transition: 0.3s;
  cursor: pointer;
}
.settings.opened .icon i {
  animation: turning 2s infinite linear;
}
.settings .colors li.active {
  border: 0.25rem solid #fff;
}

.settings .background-state li:not(.active) {
  opacity: 0.2;
}
/* end settings pannel  */

/* begin nav bullets  */
.nav-bullets {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 20;
  padding: 0.5rem;
}
.nav-bullets a {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 0.25rem solid var(--main-color);
  border-radius: 50%;
  position: relative;
}
.nav-bullets a.active {
  background-color: black;
}
.nav-bullets span {
  padding: 0.25rem;
  background-color: white;
  color: var(--main-color);
  font-weight: bold;
  position: absolute;
  width: 7rem;
  text-align: center;
  left: -8rem;
  opacity: 0;
}
.nav-bullets a:hover span {
  opacity: 1;
}
/* begin nav bullets  */

/* begin landing page  */
/* begin header  */
.landing-page {
  height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  transition: 0.6s;
}
 header .container{
  border-bottom: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.692);
}
header nav a {
  width: 100%;
  color: white;
  transition: 0.3s;
}
header nav li:hover {
  background-color: #222;
}
header nav a:is(:hover, .active) {
  color: var(--main-color);
}
header nav.show-nav ul{
  left: 0;
  top: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  z-index: 1000;
  background-color: #000;
}
header nav.show-nav ul li{
  text-align: center;
  width: 100%;
  cursor: pointer;
}

/* end header  */
/* end landing page  */
/* begin about us section  */
.about img {
  width: 15rem;
}
/* end about us section  */
/* begin skills section  */
.skills .skill-box {
  width: 70%;
}

.skills .skill-name {
  width: 15%;
}
.skills .skill-progress span {
  width: 0;
  transition: 0.5s;
}
/* End skills section  */
/* begin gallery  */

.gallery .images-box img {
  width: 200px;
  border: 3px solid #fff;
  box-shadow: 0 0 0 3px var(--light-grey);
}
/* End Gallery  */

/* begin timeline  */
.timeline .container::before {
  content: "";
  position: absolute;
  width: 4px;
  top: 0;
  left: 50%;
  height: 100%;
  background-color: var(--main-color);
  transform: translateX(-50%);
}
.timeline .timeline-content > div:is(.left, .right)::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 15%;
  right: calc(-0.5rem - 3px);
  background-color: white;
  border-radius: 50%;
  border: 4px solid var(--main-color);
}
.timeline .timeline-content > div.right::before {
  left: calc(-0.5rem - 4px);
}
.timeline .timeline-content > div:is(.left, .right)::after {
  content: "";
  position: absolute;
  top: 15%;
  border-width: 1rem;
  border-style: solid;
}

.timeline .timeline-content > div.left::after {
  right: 0;
  border-color: transparent transparent transparent white;
}
.timeline .timeline-content > div.right::after {
  border-color: transparent white transparent transparent;
  left: 0;
}

@media (max-width: 767px) {
  .timeline .container::before {
    left: 90%;
  }
  .timeline .timeline-content > div:not(.year) {
    width: 90%;
    align-self: flex-start;
  }
  .timeline .timeline-content > div.year {
    margin-left: 90%;
    transform: translateX(-50%);
  }
  .timeline .timeline-content > div:is(.left, .right)::before {
    top: 15%;
    left: auto;
    right: calc(-0.5rem - 7px);
  }
  .timeline .timeline-content > div.right {
    padding-left: 0;
    padding-right: 2rem;
  }
  .timeline .timeline-content > div:is(.left, .right)::after {
    border-color: transparent transparent transparent white;
    right: 0;
    left: auto;
  }
}

/* end timeline  */
.testimonials {
  background: linear-gradient(to right, var(--main-color) 50%, black 50%);
}
.features img {
  width: 8rem;
}
.features .feat-box h4:before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}

/* '''''''''''''''''''''''''' */
/* End Features */
/* Start Testimonials */
.testimonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testimonials .ts-box > p {
  font-style: italic;
}
/* End Testimonials */
/* Start contact us section */
.contact .overlay {
  background: url(../imgs/contact.png);
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}
.contact .contact-form :is(input, textarea):not([type="submit"]) {
  background-color: #eeeeeea1;
}
.contact .contact-form textarea {
  resize: none;
}
/* end contact us section */

/* animations  */
@keyframes turning {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(359deg);
  }
}
